.all-orders-container {
    padding: 20px;
  }
  
  .order-item {
    margin-bottom: 20px;
  }
  

  
  .pizza-highlight {
    background-color: #ffffcc; /* Background color to highlight pizza data */
    padding: 2px 5px;
  }