.cart-card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-delicious-pizza-poster-background-image_148086.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .empty-cart-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .list-group-flush {
    margin-top: 20px;
  }
  
  .cart-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #333;
  }
  
  .total-amount {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .create-order-btn {
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
    background-color: #ff4d4d;
    border: none;
    color: #fff;
  }
  
  .create-order-btn:hover {
    background-color: #ff3333;
  }
  .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center; /* Added property */
  }
  
  .quantity-control .btn {
    color: #ffffff;
    background-color: #343a40;
    border-color: #343a40;
    margin: 0 2px; /* Updated property */
  }
  
  .quantity-control .btn:last-child {
    margin-right: 0;
  }

.see-all-orders-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }